.about-hero-image {
    width: 100%;
    height: 500px;
    position: relative;
}

.about-hero-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.about-hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.about-hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.about-vision-content {
    width: 80%;
    margin: auto;
}

.about-vision-mission .list-group .list-group-item {
    margin: 8px 0;
    padding: 0;
}

.aspectsSection .animated-card .box:first-child:before,
.animated-card .box:first-child:after {
    background: linear-gradient(315deg, #008cff, #ff0000);
}


.aspects-icon {
    width: 70px;
    height: 70px;
    position: relative;
    margin: auto;
}

.aspects-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aspectsSection .animated-card .box {
    height: 346px;
}

#about-experience .primary-btn {
    margin: 0 10px;
}

.building-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.building-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-experience-content {
    padding: 0 40px;
}

#about-experience .primary-bg-wrap {
    padding: 40px;
}

.experience-icon {
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
}

.experience-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* media query  */



@media (max-width: 768px) {
    .aspectsSection .animated-card .box {
        width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    
    .aspectsSection .animated-card .content {
      height: 300px;
    }

    #about-experience .primary-bg-wrap > .row {
         flex-direction: column-reverse;
    }
}