.apply-form-box {
  max-width: 1000px;
  border: 1px solid #2e8cfe8a;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  padding: 48px;
  margin: 0px auto;
}

.apply-form-box .apply-input {
  background: transparent;
  border: 2px solid #2e8cfe8a;
  border-radius: 10px;
  padding: 14px;
  color: #fff;
}

.apply-form-box .apply-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.apply-form-box .upload-box {
  border: 2px dashed #2e8cfe8a;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
}

.apply-form-box .apply-btn {
  position: relative;
  overflow: hidden;
  background: transparent;
  color: #2e8bfe;
  border: 3px solid #2e8bfe;
  border-radius: 40px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 40px;
  transition: color 0.3s ease;
}

.apply-form-box .apply-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #2e8bfe;
  transition: left 0.4s ease;
  z-index: -1;
}

.apply-form-box .apply-btn:hover::before {
  left: 0;
}

.apply-form-box .apply-btn:hover {
  color: #fff;
}
